<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boardList</key>
	<array>
		<dict>
			<key>name</key>
			<string>Wio Link v1.0</string>
			<key>connectors</key>
			<array>
				<dict>
					<key>name</key>
					<string>Digital0</string>
					<key>ports</key>
					<array>
						<dict>
							<key>name</key>
							<string>D0</string>
							<key>type</key>
							<string>GPIO</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Digital1</string>
					<key>ports</key>
					<array>
						<dict>
							<key>name</key>
							<string>D1</string>
							<key>type</key>
							<string>GPIO</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Digital2</string>
					<key>ports</key>
					<array>
						<dict>
							<key>name</key>
							<string>D2</string>
							<key>type</key>
							<string>GPIO</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Analog</string>
					<key>ports</key>
					<array>
						<dict>
							<key>name</key>
							<string>A0</string>
							<key>type</key>
							<string>ANALOG</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>I2C</string>
					<key>ports</key>
					<array>
						<dict>
							<key>name</key>
							<string>I2C0</string>
							<key>type</key>
							<string>I2C</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>UART</string>
					<key>ports</key>
					<array>
						<dict>
							<key>name</key>
							<string>UART0</string>
							<key>type</key>
							<string>UART</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
